<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        Hello,
    <h3>
        <div> <p style="font-weight: 200;">We received a request to reset your password for your JOB account. To complete the process, please follow the instructions below.
        </p>
        <p>
        Click the link below to reset your password:
        <a href="http://127.0.0.1:8000/accounts/me/password-change/">{{ domain }}</a>
        </p>
        
        
        If you didn't request a password reset, please ignore this email. Your password will remain unchanged.
        <p>
        For security reasons, this link will expire in 1 hour. If the link expires, you can request a new password reset.
        </p>
        
        Thank you for using JOB!
        <p>Best regards,</p>
        
        <p>The JOBTeam</p>
        </div>
        
</body>
</html>
</body>
</html>